<body class="frontpage-image">
  <section class="home-title">
    Journaly
  </section>
      <article class="sign-up-form">
      <header>
        Sign Up
      </header>
        <%= form_for @user do |form| %>
        <%= form.error_messages :header_message => nil,
          :message => "Please fix the following fields:",
          :header_tag => :h3 %>
        <section class="form-field">
        <%= form.text_field :name, :placeholder => 'what is your first name?' %>
        </section>
        <section class="form-field">
        <%= form.password_field :password, :placeholder => 'choose a password' %>
        </section>
        <section class="form-field">
        <%= form.password_field :password_confirmation, :placeholder => 'please confirm your password' %>
        </section>
        <%= form.submit "sign up", :class => 'btn btn-block btn-primary' %>
      <% end %>
    </article>
</body>